name: Java CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - staging
          - prod
        default: dev

      deploy:
        description: "Deploy after build?"
        type: boolean
        required: true
        default: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build with Maven
        run: mvn -B clean install --no-transfer-progress

      - name: Run tests
        run: mvn test

      - name: Show selected options
        run: |
          echo "Environment chosen: ${{ github.event.inputs.environment }}"
          echo "Deploy? ${{ github.event.inputs.deploy }}"

  deploy:
    if: ${{ github.event.inputs.deploy == 'true' }}
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "Deploying to environment: ${{ github.event.inputs.environment }}"

            # Docker Hub login
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

            # Pull latest image
            docker pull ${{ secrets.DOCKER_USERNAME }}/simple-app:latest

            # Optional: stop previous container
            docker stop simple-app || true
            docker rm simple-app || true

            # Run new container
            docker run -d --name simple-app -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/simple-app:latest
